body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
}

.nav {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.box {
    background-color: white;
    margin: 15px;
    padding: 15px;
    border: 1px solid gray;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}

a {
    color: blue;
}


.center-list {
    text-align: center; 
}

.center-list ol {
    display: inline-block; 
    text-align: left;      
    padding-left: 0;
}


.center-list ol li ul {
    margin-left: 1.5rem;   
    padding-left: 0;
    list-style-position: outside;
    text-align: left;
}
